__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/

.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/

data/raw/
data/processed/
data/cache/

models/
*.pth

*.log
reports/*.db